<form action="/pages" method="post">
  <p><label>Název stránky</label></p>
  <p><input type="text" name="title"></p>

  <p><label>Text stránky:</label></p>
  <p><textarea name="body"></textarea></p>

  <p><input type="submit" value="Uložit"></p>
</form>
