<form action="/pages" method="post">
  <p><label>Název stránky</label></p>
  <% if @page and @page.title %>
    <p><%= @page.title %></p>
    <p><input type="hidden" name="title" value="<%= @page.title %>"></p>
  <% else %>
    <p><input type="text" name="title"></p>
  <% end %>

  <p><label>Text stránky:</label></p>
  <p><textarea name="body"><%= @page.body if @page %></textarea></p>

  <p><input type="submit" value="Uložit" class="button"></p>
</form>
