<!doctype html>
<html>
  <head>
    <title>Kiwi</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/screen.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>